- flash.each do |type, msg|
  .alert.alert-info
    = msg
= render 'nav'
- @posts.each do |post| 
  - profile_user_name = User.find(post.user_id).name
  .card.mt-4{:style => "width: 50vw;"}
    .card-body.cardPost
      %h5.card-title
        %a.card-link.card-link-feed{:href => "/profile/#{profile_user_name}",:method =>"get",:style => "font-size:25px"}= profile_user_name
      %h6.card-subtitle.mb-2.text-muted= post.created_at.to_formatted_s(:short)
      %pCard.card-text.fst-italic= post.msg
      %br
      - if post.user_likes.include?(@user)
        = button_to "Unlike", unlike_post_path(post.id) , method: "POST",class:"btn btn-primary unlike-btn mt-2"
      - else
        = button_to "Like", like_post_path(post.id) , method: "POST" ,class:"btn btn-secondary  like-btn mt-2"
      - if post.likes.count != 0 
        %button.btn.btn-primary.btn-showUser.mt-2.showUsers{"data-bs-target" => "#Like", "data-bs-toggle" => "modal", :type => "button","dataModal": post.user_likes.to_json}
          -#----------------number of like------------------
          = post.likes.count.to_s + " Likes"

.modal.fade{id: "Like",role: "modal","aria-hidden" => "true","taria-labelledby" => "exampleModalLabel",   :tabindex => "-1"}
  .modal-dialog.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h5#exampleModalLabel.w-100.modal-title.text-center â¤
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type  => "button"}
      .modal-body
        .div#mo_body{:style => "font-size:25px"}
          -# - post.user_likes.each do |user|
          -#%a.card-link-feed{:href => "profile/#{user.name}",:method => "get",:style=> " font-size:25px"}
          -#/    = user.name
          -#/    %br
          -#/    %br
    
%br

:javascript
  $(".showUsers").click(function(){
    $("#mo_body").empty();
    var userJson = $(this).attr("dataModal");
    var userObject = jQuery.parseJSON(userJson);
    userObject.forEach((user) =>{
      //var link = document.createElement("a");
      var link = `<a class = "card-link-feed" href ="profile/${user.name}"> ${user.name} </a> <br><br>`;
      $("#mo_body").append(link);   
    })
    var myModal = new bootstrap.Modal(document.getElementById(`Like`, {}));
  });
/
/%table
/  %thead
/    %tr
/      %th Post_by
/      %th Message
/      %th Create_at
/      %th{:colspan => "3"}
/  %tbody 
/    - @posts.each do |post|
/      %tr
/        %td= post.user_id
/        %td= post.msg
/        %td= post.created_at.to_formatted_s(:short)
/        -#%td= link_to 'Edit', edit_post_path(post.id)
/        -#%td= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?'}
/= button_to main_path do 
/  = 'Log out'
/  - flash.alert= "Bye Bye"
/  - method: => "get"

/hw -> write script to show proper modal
