-# frozen_string_literal: true
%br
%br
= simple_form_for(@post, :url => createPost_path, :method => :post) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :msg ,label: "Msg"
  %br
  .d-flex.flex-row
    .form-actions.w-10.me-5
      = f.button :submit ,label: "OK" ,class: "btn btn-primary"
    %a.btn.btn-secondary{:href => "/feed"}  Cancel

